<section class="dashboard-main">
  <h1> <%= @facade.user_firstname %>'s Dashboard </h1>
  <% if @facade.user_activated? %>
    <h4>Status: Active</h4>
  <%else%>
    <h2>This account has not yet been activated. Please check your email.</h2>
  <%end%>


  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= @facade.user_name  %> </li>
    <li> <%= @facade.user_email%> </li>
  </ul>
  <section>
    <div class="bookmarks">
      <h1>Bookmarked Segments</h1>
      <% @facade.my_bookmarks.each do |bookmark| %>
        <div class="bookmark-#{bookmark.id}">
          <%= bookmark.title %>, Tutorial: <%= bookmark.tutorial_title %>
        </div>
      <% end %>
    </div>
  </section>
  <section>
    <%= link_to "Send an Invite", invite_path %>
    <% if @facade.friends.length > 0 %>
      <div class="friends">
        <h1>Your Friends</h1>
        <% @facade.friends.each do |friend| %>
          <div class="friend">
            <%= friend.first_name %> <%=friend.last_name%>
          </div>
        <%end%>
      </div>
    <%end%>
  </section>

  <%if @facade.github_key != nil %>
    <section class="github">
      <h2>Github</h2>
      <% if @facade.repos != nil %>
        <section class="repos">
          <h1>Repos</h1>
            <% @facade.repos.each do |repo| %>
              <div class="repo">
                <div class="repo-name"><%= link_to repo.name, repo.url%></div>
              </div>
            <%end%>
        </section>
      <% end %>

      <% if @facade.followers != nil %>
        <section class="followers">
          <h1>Your Followers</h1>
            <% @facade.followers.each do |follower| %>
              <div class="follower">
                <div class="follower-<%=follower.uid%>">
                  <%= link_to follower.name, follower.url%>
                  <% if @facade.show_friend_link?(follower)%>
                    <%= button_to "Add as Friend", "/users/#{@facade.user_id}/add_friend/#{follower.uid}"%>
                  <%end%>
                </div>
              </div>
            <%end%>
        </section>
      <% end %>
      <% if @facade.followings != nil %>
        <section class="followings">
          <h1>Following These Users</h1>
            <% @facade.followings.each do |following| %>
              <div class="following">
                <div class="following-<%=following.uid%>">
                  <%= link_to following.name, following.url%>
                  <% if @facade.show_friend_link?(following)%>
                    <%= button_to "Add as Friend", "/users/#{@facade.user_id}/add_friend/#{following.uid}"%>
                  <%end%>
                </div>
              </div>
            <%end%>
        </section>
      <% end %>
    </section>
  <%else %>
    <div class="github-button">
      <%=button_to "Connect on GitHub", '/auth/github', method: 'get', class: "btn btn-primary mb1 bg-teal"%>
    </div>
  <%end%>
</section>
